/* general styling */
body {
  font: normal 1.15em / 1.75 "Nanum Gothic Coding", "Andale Mono", Consolas, 'Courier New', Courier, monospace;
  background-color: wheat;
  color: midnightblue;
  box-sizing: border-box;
  border: 3em solid tan;
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gaegu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* sidebar */
#menuToggle {
  display: none;
}

#menuToggle + label {
  cursor: pointer;
  display: block;
  user-select: none;
  z-index: 2;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-weight: bold;
  color: oldlace;
  background-color: darkslategray;
  border: 2px solid oldlace;
}

#menuToggle + label:focus {
  outline: #000 dotted 3px;
}

#menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: -40%;
  width: 30%;
  height: 100%;
  padding: 4em 2em 2em;
  background-color: sienna;
  transition: all 0.5s ease-in-out;
}

/* menu links */
#menu a {
  display: block;
  padding: 1em 1.5em;
  margin-bottom: 0.5em;
  color: paleturquoise;
  font-weight: bold;
}

#menu a:hover {
  background-color: antiquewhite;
  color: darkslategray;
}

#menuToggle:checked ~ #menu {
  left: 0;
}

/* scrollbox */
main {
  box-sizing: border-box;
  min-width: calc(100vh - 6em);
  max-height: calc(100vh - 6em);
  overflow-x: auto;
}

section {
  padding: 4em;
}