/* variables */
:root {
  --body-bg: #F0EFE5;
  --accent-bg: #AD8945;
  --border-color: 57, 22%, 62%;
  --text-color: #251605;
  --accent-color: #B04830;
  
  --body-font: 'Literata', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --header-font: 'Kings', cursive, serif;
}

/* general styling */
body {
  font: normal 1.15em / 1.75 var(--body-font);
  background-color: var(--body-bg);
  background: var(--body-bg) url('bg.jpg') no-repeat center / cover fixed;
  background-blend-mode: overlay;
  color: var(--text-color);
  box-sizing: border-box;
  border: 3em solid hsla(var(--border-color), 45%);
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  font-weight: normal;
}

/* scrollbox */
main {
  box-sizing: border-box;
  min-width: calc(100vh - 6em);
  max-height: calc(100vh - 6em);
  overflow-x: auto;
  padding: 1.5em;
}

/* boxes containing api information */
#info {
  width: 20em;
  height: 25em;
  margin: 0 auto;
  display: flex;
  background-color: var(--body-bg);
  padding: 1em;
}